<header class="default-header">
  <nav class="navbar navbar-expand-lg  navbar-light">
    <div class="container">
          <%= link_to image_tag("logo.png", border: 0), profiles_path %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li><%= link_to "Perfil", new_profile_path %></li>
            <li><%= link_to "Mis productos", products_path %></li>
            <li><%= link_to "Mis pedidos", profiles_path %></li>
            <li><%= link_to "Cerrar sesión", welcome_index_path %></li>
          </ul>
        </div>
    </div>
  </nav>
</header>

<section class="project-area section-gap">
  <div class="title text-center">
    <h1> <span>Bienvenido</span><br> </h1>
    <h2>Jonathan Gonzalez</h2>
  </div>
</section>
