<!DOCTYPE html>
<html class="no-js">
  <head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Hidroponia</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-default">
        <div class="container">
              <%= link_to image_tag("logo.png", border: 0) %>

              <ul class="nav navbar-nav">
              <% if user_signed_in? %>
                  <li>
                    <% if current_user.profiles == nil %>
                      <%= link_to "Per", new_profile_path %>
                    <% else %>
                      <%= link_to 'Edit profile', edit_profile_path( 1033739673), :class => 'navbar-link' %> |
                    <% end %>
                    <%= link_to "Mis productos", products_path %>
                    <%= link_to "Categorias", categories_path %>
                    <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
                  </li>
                <% else %>
                  <li><%= link_to "Iniciar sesión", new_user_session_path %></li>
                <% end %>
              </ul>
        </div>
      </nav>

    <%= yield %>
  </body>
</html>
